

<div class = "form-cls" *ngIf="!isAdmin">
    <p>Login</p>

    <form  action="#" method="">

        <input #emailId type="email" placeholder="Email">
        <input #pwd1 type="password" placeholder="Password">

        <button (click)="userValid(emailId.value,pwd1.value)" type="submit"> Login </button>

        
    </form>
    <div *ngIf="loginState">
        <p>Login Success!</p>
        
    </div>

    <div *ngIf="isLoggedIn">
        <p>Wrong Credentials!!</p>
    </div>      
</div>
<div>
    <div *ngIf="isAdmin">
        <app-dashbord></app-dashbord>
    </div>
</div>