.form-cls{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    padding: 2em 3em;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border: 1px solid rgb(61, 2, 223);
    border-radius: 1em;
    box-shadow: 2px 8px 10px #3151B5;
    transition: .5s;
    
}
.form-cls:hover{
    transition: .5s;
    box-shadow: 15px 20px 25px #3151B5;
    text-shadow: 2px 12px 15px #3151B5;
}

.form-cls >form> input{
    border: 2px solid #3151B5;
    margin-top: .5em;
    margin-bottom: 1em;
    width: 100%;
    transition: .5s;
}
.form-cls >form> input:hover{
    transition: .5s;
    box-shadow: 2px 8px 10px #3151B5;
   
}
.form-cls > p{
    font-size: 2em;
    color: #3151B5;
    text-align: center;
}