table {
  width: 100%;
}
.assign-btn-grp {
  margin-top: 2em;
  margin-left: 1em;
}
.assign-btn-grp > button {
  margin: 0em 1em;
}

td > button {
  margin: 0.5em 0.5em;
}

h1 {
  text-shadow: 2px 12px 15px red;
}
h1:hover {
  transition: 1s;
  text-shadow: 1em 1em 15em red;
}
